{% extends 'core/base.html' %}

{% load staticfiles %}
{% block title_block %}
    Pair Help
{% endblock %}
{% block body_block %}
	<article class="helpart">
		<h2 class="title">Pair help</h2>
		<hr>
		<p>You can apply for a pair.</p>
		<p>Laboratory practices will be carried out in pairs, so you may apply for one.</p>
		<p>You can create a pair with your partner logging into the system, going to the Apply Pair menu, and choosing your partner among all the possible students. Your partner then has to take the same steps (choosing you this time).</p>
		<p>Log in and follow the steps.</p>
	</article>
{% endblock %}
